/*Aplicables a todos los HTML*/
/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Gidole&display=swap");
/*font-family: "Gidole", sans-serif;*/
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Gidole", sans-serif;
  font-size: 62.5%; /*Ahora 1rem=10px*/
}

/*Header*/
header {
  background-image: url(../medios/multicam.jpg);
  background-size: cover;
}
header .headerhijo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 15px;
}
header .headerhijo .escudoea {
  width: 8%;
}
header .headerhijo h1 {
  color: rgb(0, 0, 0);
  font-family: "Stardos Stencil", system-ui;
  font-style: normal;
  text-align: center;
  font-size: 400%;
  text-decoration: underline;
  font-weight: bold;
}
header .headerhijo .escudoae {
  width: 7.2%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 20px;
}
header nav ul li {
  background-color: rgb(177, 123, 6);
  display: flex;
  padding: 10px;
  margin: 10px;
  border: solid black 3px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

/*Footer*/
footer {
  display: flex;
  background-color: #A6B37D;
  font-size: 12 px;
  justify-content: space-between;
}
footer div {
  width: 25%;
}
footer div .enlaces {
  display: flex;
  text-align: center;
  font-size: 25px;
  flex-direction: column;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 20px;
}
footer div ul a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2px;
  text-align: center;
  padding-bottom: 10px;
}
footer .divfooter {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
footer .divfooter .logo-footer {
  display: flex;
  padding-bottom: 20px;
  width: 40%;
}
footer .divfooter .notaautor {
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer .divredes {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .divredes .tituloredes {
  display: flex;
  justify-content: left;
  font-size: 25px;
  flex-direction: column;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 20px;
}
footer .divredes .redes {
  display: flex;
  padding-bottom: 20px;
  width: 70px;
  flex-direction: column;
  justify-content: space-between;
}
footer .divredes .redes img {
  display: flex;
  align-items: center;
  padding: 5px;
}

/*Index*/
.main_index {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}
.main_index .alas-fondo {
  position: absolute;
  width: 70%;
  opacity: 0.4;
}
.main_index .tituloresenia {
  position: relative;
  align-items: start;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: underline;
  padding: 10px;
}
.main_index .textoresenia {
  position: relative;
  font-size: 2.1rem;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
}

/*Aeronaves*/
.contenedor-grid {
  font-size: 1.5rem;
  text-align: justify;
  display: grid;
  grid-template-areas: "titulo1 titulo1 titulo1 titulo1" "nombre1 nombre1 nombre1 nombre1" "foto1 foto1 foto1 texto1" "nombre2 nombre2 nombre2 nombre2" "foto2 foto2 foto2 texto2" "nombre3 nombre3 nombre3 nombre3" "foto3 foto3 foto3 texto3" "titulo2 titulo2 titulo2 titulo2" "nombre4 nombre4 nombre5 nombre5" "foto4 foto4 foto5 foto5" "texto4 texto4 texto5 texto5" "nombre6 nombre6 nombre7 nombre7" "foto6 foto6 foto7 foto7" "texto6 texto6 texto7 texto7";
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: 80px 50px 600px 50px 600px 50px 600px 80px 50px 500px 200px 50px 500px 200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.contenedor-grid img {
  width: 95%;
  height: 95%;
  border-radius: 9px 9px 9px 9px;
  border: 5px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.708);
}
.contenedor-grid .grid-titulo-1 {
  grid-area: titulo1;
}
.contenedor-grid .grid-nombre-1 {
  grid-area: nombre1;
}
.contenedor-grid .grid-img-1 {
  grid-area: foto1;
}
.contenedor-grid .grid-texto-1 {
  grid-area: texto1;
}
.contenedor-grid .grid-nombre-2 {
  grid-area: nombre2;
}
.contenedor-grid .grid-img-2 {
  grid-area: foto2;
}
.contenedor-grid .grid-texto-2 {
  grid-area: texto2;
}
.contenedor-grid .grid-nombre-3 {
  grid-area: nombre3;
}
.contenedor-grid .grid-img-3 {
  grid-area: foto3;
}
.contenedor-grid .grid-texto-3 {
  grid-area: texto3;
}
.contenedor-grid .grid-titulo-2 {
  grid-area: titulo2;
}
.contenedor-grid .grid-nombre-4 {
  grid-area: nombre4;
}
.contenedor-grid .grid-nombre-5 {
  grid-area: nombre5;
}
.contenedor-grid .grid-nombre-6 {
  grid-area: nombre6;
}
.contenedor-grid .grid-nombre-7 {
  grid-area: nombre7;
}
.contenedor-grid .grid-img-4 {
  grid-area: foto4;
}
.contenedor-grid .grid-img-5 {
  grid-area: foto5;
}
.contenedor-grid .grid-img-6 {
  grid-area: foto6;
}
.contenedor-grid .grid-img-7 {
  grid-area: foto7;
}
.contenedor-grid .grid-texto-4 {
  grid-area: texto4;
}
.contenedor-grid .grid-texto-5 {
  grid-area: texto5;
}
.contenedor-grid .grid-texto-6 {
  grid-area: texto6;
}
.contenedor-grid .grid-texto-7 {
  grid-area: texto7;
}

/*Actividades*/
.main_actividades {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
}
.main_actividades h1 {
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: 20px;
}
.main_actividades h2 {
  text-decoration: underline;
  padding-bottom: 10px;
}
.main_actividades p {
  padding-bottom: 20px;
}

/*Galeria*/
.main_galeria {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}
.main_galeria .galeria-heli, .main_galeria .galeria-avion {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.main_galeria .galeria-avion {
  padding-bottom: 10px;
  padding-top: 10px;
}

/*Contacto*/
.main_contacto {
  font-size: 1.5rem;
  text-align: justify;
  display: grid;
  grid-template-areas: "texto1 texto1 texto1" "texto2 texto7 texto7" "form mapa mapa" "texto11 texto9 texto8" "redes texto10 telefonos";
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: 80px 30px 500px 30px 80px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.main_contacto .contacto-formulario {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  text-align: center;
  grid-area: form;
}
.main_contacto .contacto-formulario label {
  font-weight: bold;
  text-decoration: underline;
}
.main_contacto .contacto-formulario p {
  font-weight: bold;
  text-decoration: underline;
}
.main_contacto .contacto-mapa {
  width: 80%;
  height: 80%;
}
.main_contacto .contacto-texto1 {
  grid-area: texto1;
}
.main_contacto .contacto-texto2 {
  grid-area: texto2;
}
.main_contacto .contacto-formulario {
  grid-area: form;
}
.main_contacto .contacto-texto6 {
  grid-area: texto6;
}
.main_contacto .contacto-texto7 {
  grid-area: texto7;
}
.main_contacto .contacto-texto8 {
  grid-area: texto8;
}
.main_contacto .contacto-mapa {
  grid-area: mapa;
}
.main_contacto .contacto-texto9 {
  grid-area: texto9;
}
.main_contacto .contacto-texto10 {
  grid-area: texto10;
}
.main_contacto .contacto-telefonos {
  grid-area: telefonos;
}
.main_contacto .contacto-texto11 {
  grid-area: texto11;
}
.main_contacto .contacto_redes {
  grid-area: redes;
}

/*RESPONSIVE*/
/*MOBILE*/
@media (max-width: 480px) {
  /*HEADER*/
  div h1 {
    font-size: 2rem;
  }
  header a {
    font-size: 0.5rem;
  }
  .headerhijo {
    align-items: center;
  }
  header ul {
    justify-content: center;
    padding-top: 10px;
  }
  header li {
    padding: 2px;
    margin: 5px;
  }
  /*FOOTER*/
  footer {
    font-size: 9px;
  }
  footer a {
    font-weight: lighter;
    font-size: 0.8rem;
    margin: 3px;
  }
  .enlaces {
    justify-content: center;
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .logo-footer {
    padding-bottom: 10px;
  }
  .notaautor {
    font-size: 0.5rem;
  }
  .tituloredes {
    justify-content: center;
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .redes {
    padding-bottom: 10px;
    width: 50%;
  }
  /*HOME*/
  .textoresenia {
    font-size: 1rem;
    font-weight: normal;
    text-align: justify;
  }
  /*AERONAVES*/
  .contenedor-grid {
    grid-template-areas: "titulo1" "nombre1" "foto1" "texto1" "nombre2" "foto2" "texto2" "nombre3" "foto3" "texto3" "titulo2" "nombre4" "foto4" "texto4" "nombre5" "foto5" "texto5" "nombre6" "foto6" "texto6" "nombre7" "foto7" "texto7";
    grid-template-columns: 1fr;
    grid-template-rows: 40px 25px repeat(2, 300px) 25px repeat(2, 300px) 25px repeat(2, 300px) 40px 25px repeat(2, 300px) 25px repeat(2, 300px) 25px repeat(2, 300px) 25px repeat(2, 300px);
  }
}

/*# sourceMappingURL=estilos.css.map */
