/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
/*font-family: "Gidole", sans-serif;*/
/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Aplicables a todos los HTML*/
html{
    font-family: "Gidole", sans-serif;
    font-size: 62.5%; /*Ahora 1rem=10px*/
}

h{
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}


/*Header*/
header{
    /* background-color: #A6B37D; */
    background-image: url(../medios/multicam.jpg);
    background-size:cover;
}

.escudoea{
    width: 8%;
    /* height: 8%; */
}

.escudoae{
    width: 7.2%;
    /* height: 8%; */   
}

div h1{
    color: rgb(0, 0, 0);
    font-family: "Stardos Stencil", system-ui;
    font-style: normal;
    text-align: center;
    font-size: 400%;
    text-decoration: underline;
    font-weight: bold;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.headerhijo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 15px;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: left   ;
    padding-top: 20px;
}

header li{
    background-color: rgb(177, 123, 6);
    display: flex;
    padding: 10px;
    margin: 10px;
    border: solid black 3px    
}

/*Footer*/
footer div{
    width: 25%;
    /*border: solid black 3px;*/
}

footer{
    display: flex;
    background-color: #A6B37D;
    font-size: 12 px;
    justify-content: space-between;
}

footer a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 5px;
    text-align: center;
}

.enlaces{
    display: flex;
    justify-content: left;
    font-size: 25px;
    flex-direction: column;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 20px;
}

.divfooter{
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    align-items: center;
}
.logo-footer{
    display: flex;
    padding-bottom: 20px;
    width: 40%;
}

.notaautor{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   

.divredes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloredes{
    display: flex;
    justify-content: left;
    font-size: 25px;
    flex-direction: column;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 20px;
}

.redes{
    display: flex;
    padding-bottom: 20px;
    width: 13%;
    flex-direction: column;
    justify-content: space-between;
}

footer img{
    display: flex;
    align-items: center;
    padding: 5px;
}



/*INDEX*/

.main_index{
    background-image: url(../medios/Alas\ de\ aviador\ con\ moneda\ 1.jpg);
    background-position: center;   
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 2rem;
    text-align: center;
}


/*AERONAVES*/
.contenedor-grid img{
    width: 95%;
    height: 95%;

    border-radius: 9px 9px 9px 9px;
    border: 5px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.708);
}

.contenedor-grid{
    font-size: 1.5rem;
    text-align: justify;
    display: grid;
    grid-template-areas: 
    "titulo1 titulo1 titulo1 titulo1"
    "nombre1 nombre1 nombre1 nombre1"
    "foto1 foto1 foto1 texto1"
    "nombre2 nombre2 nombre2 nombre2"
    "foto2 foto2 foto2 texto2"
    "nombre3 nombre3 nombre3 nombre3"
    "foto3 foto3 foto3 texto3"
    "titulo2 titulo2 titulo2 titulo2"
    "nombre4 nombre4 nombre5 nombre5"
    "foto4 foto4 foto5 foto5"
    "texto4 texto4 texto5 texto5"
    "nombre6 nombre6 nombre7 nombre7"
    "foto6 foto6 foto7 foto7"
    "texto6 texto6 texto7 texto7";
    grid-template-columns: repeat(4,24%);
    grid-template-rows: 80px 50px 600px 50px 600px 50px 600px 80px 50px 500px 200px 50px 500px 200px;  

    justify-content: center;
    justify-items: center;
    align-items: center;
}

.grid-titulo-1{
    grid-area: titulo1;
}

.grid-nombre-1{
    grid-area: nombre1;
}
.grid-img-1{
    grid-area: foto1;
}
.grid-texto-1{
    grid-area: texto1;
}

.grid-nombre-2{
    grid-area: nombre2;
}
.grid-img-2{
    grid-area: foto2;
}
.grid-texto-2{
    grid-area: texto2;
}

.grid-nombre-3{
    grid-area: nombre3;
}
.grid-img-3{
    grid-area: foto3;
}
.grid-texto-3{
    grid-area: texto3;
}

.grid-titulo-2{
    grid-area: titulo2;
}

.grid-nombre-4{
    grid-area: nombre4;
}
.grid-nombre-5{
    grid-area: nombre5;
}
.grid-nombre-6{
    grid-area: nombre6;
}
.grid-nombre-7{
    grid-area: nombre7;
}

.grid-img-4{
    grid-area: foto4;
}
.grid-img-5{
    grid-area: foto5;
}
.grid-img-6{
    grid-area: foto6;
}
.grid-img-7{
    grid-area: foto7;
}

.grid-texto-4{
    grid-area: texto4;
}.grid-texto-5{
    grid-area: texto5;
}.grid-texto-6{
    grid-area: texto6;
}.grid-texto-7{
    grid-area: texto7;
}

/*ACTIVIDADES*/

.main_actividades{
    font-size: 1.5rem;
    text-align: justify;
}

/*GALERIA*/

.main_galeria{
    font-size: 1.5rem;
    text-align: justify;
}

/*CONTACTO*/

.main_contacto{
    font-size: 1.5rem;
    text-align: justify;
}

form label{
font-weight: bold;
text-decoration: underline;
}

form p{
    font-weight: bold;
    text-decoration: underline;  
}
.contacto_redes{
    width: 4%;
}

/*RESPONSIVE*/
/*MOBILE*/
@media (max-width: 480px){
    /*HEADER*/
    div h1{
        font-size: 2rem;
    }
    header a{
        font-size: 0.8rem;
    }
    .headerhijo{
        align-items: center;
    }
    header ul{
        justify-content: center;
        padding-top: 10px;
    }
    header li{
        padding: 5px;
        margin: 5px;
    }

    /*FOOTER*/
    footer{
        font-size: 9px;
    }
    footer a{
        font-weight: lighter;
        font-size: 0.8rem;
        margin: 3px;
    }
    .enlaces{
        justify-content: center;
        font-size: 1rem;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .logo-footer{
        padding-bottom: 10px;
    }
    .notaautor{
        font-size: 0.5rem;
    }
    .tituloredes{
        justify-content: center;
        font-size: 1rem;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .redes{
        padding-bottom: 10px;
        width: 30%;
    }
    /*AERONAVES*/
    .contenedor-grid{
        grid-template-areas:
        "titulo1"
        "nombre1"
        "foto1"
        "texto1"
        "nombre2"
        "foto2"
        "texto2"
        "nombre3"
        "foto3"
        "texto3"
        "titulo2"
        "nombre4"
        "foto4"
        "texto4"
        "nombre5"
        "foto5"
        "texto5"
        "nombre6"
        "foto6"
        "texto6"
        "nombre7"
        "foto7"
        "texto7";
        grid-template-columns: 1fr;
        grid-template-rows: 40px 25px repeat(2,300px) 25px repeat(2,300px) 25px repeat(2,300px) 40px 25px repeat(2,300px) 25px repeat(2,300px) 25px repeat(2,300px) 25px repeat(2,300px);

    }
}

/*TABLET*/
@media (min-width: 481px) and (max-width: 769px){

}