/*RESPONSIVE*/
/*MOBILE*/

@media (max-width: 480px){
    /*HEADER*/
    .headerhijo{
        align-items: center;
        h1{
            font-size: 2rem;
        }
    }
    .headerhijodos{
        ul{
            justify-content: center;
            padding-top: 10px;
            li{
                padding: 2px;
                margin: 5px;
                a{
                 font-size: 1rem;
                }
            }
        }

    }
    /*FOOTER*/
    footer{
        font-size: 9px;
        div{
            .enlaces{
                justify-content: center;
                font-size: 1rem;
                padding-top: 5px;
                padding-bottom: 10px;
                margin-left: 18px;
            }
            ul{
                a{
                    font-weight: lighter;
                    font-size: 0.8rem;
                    margin-left: 1px;
                }
            }
        }
        .divfooter{
            .logo-footer{
                padding-bottom: 10px;
            }
            .notaautor{
                font-size: 0.5rem;
            }
        }
        .divredes{
            .tituloredes{
                justify-content: center;
                font-size: 1rem;
                padding-top: 5px;
                padding-bottom: 10px;
            }
            .redes{
                padding-bottom: 10px;
                width: 50%;
                margin-right: 15px;
            }
        }
    }

    /*HOME*/
    .main_index{
        .tituloresenia{
            font-size: 15px;
            font-weight: bold;
            text-decoration: underline;
            text-align: center;
        }
        .textoresenia{
            font-size: 10px;
            font-weight: normal;
            text-align: justify;
        }
    }
    /*AERONAVES*/
    .contenedor-grid{
        grid-template-areas:
        "titulo1"
        "nombre1"
        "foto1"
        "texto1"
        "nombre2"
        "foto2"
        "texto2"
        "nombre3"
        "foto3"
        "texto3"
        "titulo2"
        "nombre4"
        "foto4"
        "texto4"
        "nombre5"
        "foto5"
        "texto5"
        "nombre6"
        "foto6"
        "texto6"
        "nombre7"
        "foto7"
        "texto7";
        grid-template-columns: 95%;
        grid-template-rows: 40px 25px 300px 610px 25px 300px 480px 25px 300px 480px 40px 25px 300px 350px 25px 300px 300px 25px 300px 300px 25px 300px 330px;

    }
    /*ACTIVIDADES*/
    .main_actividades{
        h3{
            text-transform: uppercase;
        }
        p{
            font-size: 10px;
            font-weight: normal;
            text-align: justify;
            padding-bottom: 5px;
        }
    }
    /*GALERIA*/
    .main_galeria{
        #carouselHeli{
            width: 80%;
        }
        #carouselAvion{
            width: 80%;
        }
    }
    /*CONTACTO*/
    .main_contacto{
        h2{
            text-align: center;
            font-size: medium;
        }
        h3{
            text-transform: uppercase;
            text-decoration: underline;
        }
        grid-template-areas:
        "texto1"
        "texto2"
        "form"
        "texto7"
        "mapa"
        "texto11"
        "redes"
        "texto9"
        "texto10"
        "texto8"
        "telefonos";
        grid-template-columns: 95%;
        grid-template-rows: 80px 30px 500px 30px 300px 30px 50px repeat(3, 30px) 50px;
        .contacto-mapa{
        width: 80%;
        height: 80%; 
        }
        .contacto-texto1{
            grid-area: texto1;
        }
        .contacto-texto2{
            grid-area: texto2;
        }
        .contacto-formulario{
            grid-area: form;
        }
        .contacto-texto7{
            grid-area: texto7;
        }
        .contacto-texto8{
            grid-area: texto8;
        }
        .contacto-mapa{
            grid-area: mapa;
        }
        .contacto-texto9{
            grid-area: texto9;
        }
        .contacto-texto10{
            grid-area: texto10;
        }
        .contacto-telefonos{
            grid-area: telefonos;
        }
        .contacto-texto11{
            grid-area: texto11;
        }
    }
}

/*TABLET*/
@media (min-width: 481px) and (max-width: 992px){
     /*HEADER*/
    .headerhijo{
        align-items: center;
        h1{
            font-size: 2rem;
        }
    }
    .headerhijodos{
        ul{
            justify-content:space-evenly;
            padding-top: 10px;
            li{
                padding: 2px;
                margin: 5px;
                a{
                 font-size: 1.5rem;
                }
            }
        }

    }
    /*FOOTER*/
    footer{
        font-size: 9px;
        div{
            .enlaces{
                justify-content: center;
                font-size: 1.5rem;
                padding-top: 5px;
                padding-bottom: 10px;
                margin-left: 18px;
            }
            ul{
                a{
                    font-weight: light;
                    font-size: 1.2rem;
                    margin-left: 1px;
                }
            }
        }
        .divfooter{
            .logo-footer{
                padding-bottom: 10px;
            }
            .notaautor{
                font-size: 0.8rem;
            }
        }
        .divredes{
            .tituloredes{
                justify-content: center;
                font-size: 1.5rem;
                padding-top: 5px;
                padding-bottom: 10px;
            }
            .redes{
                padding-bottom: 10px;
                width: 30%;
                margin-right: 15px;
            }
        }
    }

    /*HOME*/
    .main_index{
        .tituloresenia{
            font-size: 2.8rem;
            font-weight: bold;
            text-decoration: underline;
            text-align: center;
        }
        .textoresenia{
            font-size: 2rem;
            font-weight: normal;
            text-align: justify;
            padding: 15px;
        }
    }
    /*AERONAVES*/
    .contenedor-grid{
        grid-template-areas:
        "titulo1"
        "nombre1"
        "foto1"
        "texto1"
        "nombre2"
        "foto2"
        "texto2"
        "nombre3"
        "foto3"
        "texto3"
        "titulo2"
        "nombre4"
        "foto4"
        "texto4"
        "nombre5"
        "foto5"
        "texto5"
        "nombre6"
        "foto6"
        "texto6"
        "nombre7"
        "foto7"
        "texto7";
        grid-template-columns: 95%;
        grid-template-rows: 60px 38px 450px 350px 38px 450px 250px 38px 450px 250px 60px 38px 450px 200px 38px 450px 190px 38px 450px 190px 38px 450px 200px;

    }
    /*ACTIVIDADES*/
    .main_actividades{
        h3{
            text-transform: uppercase;
        }
        p{
            font-size: 15px;
            font-weight: normal;
            text-align: justify;
            padding-bottom: 5px;
        }
    }
    /*GALERIA*/
    .main_galeria{
        #carouselHeli{
            width: 80%;
        }
        #carouselAvion{
            width: 80%;
        }
    }
    /*CONTACTO*/
    .main_contacto{
        h2{
            text-align: center;
            font-size: medium;
        }
        h3{
            text-transform: uppercase;
            text-decoration: underline;
        }
        grid-template-areas:
        "texto1 texto1"
        "texto2 texto7"
        "form mapa"
        "texto11 texto9"
        "redes texto10"
        "texto8 texto8"
        "telefonos telefonos";
        grid-template-columns: repeat(2,46%);
        grid-template-rows: 80px 50px 500px 50px 50px 30px 50px;
        .contacto-mapa{
        width: 80%;
        height: 80%; 
        }
        .contacto-texto1{
            grid-area: texto1;
        }
        .contacto-texto2{
            grid-area: texto2;
        }
        .contacto-formulario{
            grid-area: form;
        }
        .contacto-texto7{
            grid-area: texto7;
        }
        .contacto-texto8{
            grid-area: texto8;
        }
        .contacto-mapa{
            grid-area: mapa;
        }
        .contacto-texto9{
            grid-area: texto9;
        }
        .contacto-texto10{
            grid-area: texto10;
        }
        .contacto-telefonos{
            grid-area: telefonos;
        }
        .contacto-texto11{
            grid-area: texto11;
        }
    }
}